* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.bg {
    height: 400px;
    background-image: url(./Img/background);
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.content {
    height: 230px;
    margin-right: 5rem;
    background-color: rgba(213, 215, 217, 0.275);
    backdrop-filter: blur(10px);
    padding: 20px;
    position: absolute;
    top: 70px;
    left: 1000px;
}

.menu {
    width: 15%;
    height: 400px;
    background-color: rgba(112, 128, 144, 0.49);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 16px;
}

.name {
    border-style: ridge;
    border: 1px solid rgb(218, 211, 211);
    padding: 15px 15px;
    margin-top: -5px;
    margin-bottom: 3px;
    margin-right: 4px;
    margin-left: -5px;
    color: white;
    font-size: 20px;

}

.box {
    border: 1px solid  rgb(218, 211, 211);
    text-align: center;
    margin: 30px;
    margin-top: 5px;

}

.list li {
    text-align: right;
    padding: 5px;
    color: white;
    list-style: none;
}

.list {
    padding: 10px 45px;
}

.icon {
    margin: 10px;
}

.icon i {
    margin: 10px;
    color: white;
}

.foot p {
    font-size: small;
    color: white;
    margin: 5px;
}
.col1{
    background-color: rgba(51, 50, 50, 0.589);
    width: 15%;
    height: 2500px;
}
.about{
    width: 35%;
    padding: 25px;
}
.about img{
    height: 80px;
    width: 30%;
}
.col2{
    width: 85%;
}
.col2_1{
    display: flex;
    justify-content:space-evenly;
}
/* .img{
    border-style: ridge;
    border: 1px solid rgb(218, 211, 211);
    padding: 15px 15px;
    margin-top: -5px;
    margin-bottom: 3px;
    margin-right: 4px;
    margin-left: -5px;
    color: rgb(25, 95, 175);
text-align: left;
} */
h4{
    color: rgb(25, 95, 175);
    text-align: left;
}
.box1{
    border: 1px solid  rgb(218, 211, 211);
    margin: 82px;
    margin-top: 5px;
    /* align-items: center; */
}

.name img{
    height: 240px;
    width: 23%;
    padding-right:10px; 
}
.space{
    margin: 25px;
    margin-right: -40px;
}
.col2_3{
    width: 60%;
    margin: 0 100px;
    margin-top: 8px;
    /* text-align: justify; */
}
.col2_4{
    width: 81%;
    display: flex;
    flex-flow: wrap;
    margin: 30px 96px;
}
.logo img{
    height: 60px;
    width: 190px;
}
.logo{
margin: 5px 5px;
border: 1px solid rgb(218, 211, 211);
}
.col2_5_1{
    width: 40%;
   
}  
p{
    color: rgb(68, 66, 66);
    text-align: justify;
}
.col2_5_2{
    width: 40%;
   
}  